<div class="container13">
    <h2>Product Backlog</h2>
    <div class="subcontainer">
        <div class="goals">
            <div class="inputGoal">
                <input type="text" placeholder="Add goal" [(ngModel)]="currentGoal">
                <input type="button" value="+" (click)="addGoal()">
            </div>
            <div class="goalsList">
                <div *ngFor="let goal of goalsList">
                    <span></span>
                    <p>{{goal}}</p>
                </div>
            </div>
        </div>
        <div class="tasks">
            <h3>Tasks</h3>
            <div class="createTask">
                <div class="fields">
                    <input type="text" placeholder="Title" [(ngModel)]="title">
                    <input type="text" placeholder="Description" [(ngModel)]="description">
                    <input type="text" placeholder="Acceptance criteria" [(ngModel)]="currentAccCrit">
                    <input type="text" placeholder="Dependency" [(ngModel)]="currentDep">
                    <input type="text" placeholder="History Points" [(ngModel)]="history_points">
                    <input type="text" placeholder="Spring assigned" [(ngModel)]="spring_assigned">
                    <input type="text" placeholder="Priority" [(ngModel)]="priority">
                    <!-- <input class="addTask" type="button" value="+"> -->
                    <div class="addTask">+</div>
                </div>
                <div class="taskList">
                    <div class="task" *ngFor="let task of tasksList">
                        <span></span>
                        <p>{{task.title}}</p>
                        <!-- <p>{{task.date_creation}}</p>
                        <p>{{task.time_limit | date : 'dd'}}/{{task.time_limit | date : 'MM'}}/{{task.time_limit | date : 'YY'}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input class="create" type="button" value="Create">

</div>