<div class="container12">
    <h2>Scrum Event</h2>
    <div class="fields">
        <form action="">
            <div class="select">
                <p>Type</p>
                <select class="int" name="" id="">
                    <option value="">Spring Planning</option>
                    <option value="">Daily Scrum</option>
                    <option value="">Sprint Review</option>
                    <option value="">Sprint Retrospective</option>
                </select>
                <input type="button" value="V">
            </div>
            <div>
                <input class="int" type="text" placeholder="Goals" [(ngModel)]="currentGoal" name="goal">
                <input type="button" value="+">
            </div>
            <div>
                <input class="int" type="text" placeholder="Format" [(ngModel)]="format" name="format">
            </div>
            <div>
                <input class="int" type="text" placeholder="Link access" [(ngModel)]="access" name="access">
                <input type="button" value="Copy">
            </div>
            <div>
                <input class="int" type="datetime" placeholder="Date">
            </div>
            <div>
                <input class="int" type="text" placeholder="Estimated duration" [(ngModel)]="duration" name="duration">
            </div>
            <!-- <div class="button">
            </div> -->
            <span class="button">
                <input type="button" value="Create">
            </span>

        </form>
    </div>
</div>