/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

:root{
    --prmD: #303f9f;
    --prm: #3f51b5;
    --prmL2: #9faaef;
    --prmL: #c5cae9;
    --prmDetail: #eceefd;


    --textL: white;
    --textD: #212121;

    --text-sec: #757575;
    --text-thr: #dbdbdb;


    --div: #BDBDBD;
    --acc: #9e9e9e;

}